body {
	background-color: #fafafa;
	font-family: Roboto;
	margin: 0;
}

.toolbar {
	top: 0;
	width: 100%;
	height: 64px;
	padding-left: 72px;
	background-color: #1976d2;
	box-shadow: 0 1px 0.5em 0 gray;
	position: fixed;
	z-index: 2;
}

.toolbar-title {
	line-height: 64px;
	vertical-align: baseline;
	color: #fff;
	font-size: 18px;
	vertical-align: middle;
	display: table-cell;
}

.status-title {
	color: #1976d2;
	font-size: 34px;
	font-weight: 400;
	position: relative;
}

.status {
	padding-top: 32px;
	padding-left: 72px;
	padding-bottom: 48px;
	background-color: white;
	margin: 80px;
	margin-top: 144px;
	border-radius: 4px;
	box-shadow: 0 0px 0.5em 0 gray;
}

.timeleft-wrapper {
	padding-top: 78px;
	padding-bottom: 32px;
}

.timeleft-counters {
	font-size: 128px;
	font-weight: bold;
	color: #666;
	line-height: 64px;
}

.timeleft-labels {
	font-size: 64px;
	color: #666;
	vertical-align: bottom;
	line-height: 32px;
	padding-left: 16px;
	padding-right: 48px;
}

.learning-reminder {
	margin-top:  64px;
	margin-bottom: -32px;
	color: #666;
	font-size: 24px;
}

.footer {
	padding-top: 48px;
	padding-left: 64px;
	vertical-align: bottom;
	color: #616161;
	font-size: 13px;
	line-height: 24px;
}